/dx 5.3 def
/dy 4.3 def
/pmapX 52 dx mul def
/pmapY 80 dy mul def

/colorBinPix
[
[0.0 1.0 0.0] % ok
[1.0 0.0 0.0] % no sig
[1.0 0.5 .25] % mask def
[1.0 1.0 0.0] % mult sig
[0.2 0.5 1.0] % col addr
[0.2 1.0 0.2] % row addr
[1.0 .75 1.0] % trimming
] def

/colorScale
{
  100 exch sub 100 div dup dup setrgbcolor % setgrey
}bind def

/colorScaleBar
{
  0 1 100
  {
    newpath dup 0 moveto 1 0 rlineto 0 1 rlineto -1 0 rlineto closepath
    colorScale fill
  }for
}def

/pixLegendEntry
{
  gsave
  translate
  newpath
  0 0 moveto 6 0 rlineto 0 6 rlineto -6 0 rlineto closepath
  colorBinPix exch get aload pop setrgbcolor fill
  newpath
  0 0 moveto 6 0 rlineto 0 6 rlineto -6 0 rlineto closepath
  0 setgray 0.2 setlinewidth stroke
  10 0 moveto show
  grestore
}bind def

/pixLegend
{
  10 fontSize
  (no sig)1 290 24 pixLegendEntry
  (mult sig)2 290 12 pixLegendEntry
  (mask def)3 290 0 pixLegendEntry
  (col addr)4 375 24 pixLegendEntry
  (row addr)5 375 12 pixLegendEntry
  (trimming)6 375 0 pixLegendEntry
}bind def

/mapColor
{
  dup 0 ge
  { colorScale }
  {
    neg 1 sub % 5 mod
    colorBinPix exch get aload pop setrgbcolor
  }ifelse
}def

/mapLines
{
  0 setgray 0.5 setlinewidth
  newpath
  0 dx pmapX 1 add { 0 moveto 0 pmapY rlineto }for
  0 dy pmapY 1 add { 0 exch moveto pmapX 0 rlineto }for
  dx 2 mul dup pmapX { 0 moveto 0 -20 rlineto }for
  0 0 moveto 0 -20 rlineto pmapX 0 rlineto 0 20 rlineto
  stroke
  newpath
  -4 -24 moveto
  pmapX 8 add 0 rlineto
  0 pmapY 28 add rlineto
  pmapX 8 add neg 0 rlineto
  closepath
  1.2 setlinewidth stroke
}bind def

/setPix
{
  dy mul exch dx mul exch
  newpath
  moveto
  dx 0 rlineto
  0 dy rlineto
  dx neg 0 rlineto
  closepath
  mapColor fill
}def

/setDcol
{
  dx 2 mul mul
  newpath
  0 moveto
  0 -20 rlineto
  dx 2 mul 0 rlineto
  0 20 rlineto
  47 sub neg mapColor fill
}def

/mapPix
{
  /posY 0 def
  pixMap
  {
    /posX 0 def
    {
      posX posY setPix
      /posX posX 1 add def
    }forall
    /posY posY 1 add def
  }forall
}def

/mapDcol
{
  /posX 0 def
  dcolMap
  {
    posX setDcol
    /posX posX 1 add def    
  }forall
}def

/mapChip
{
  gsave
  translate
  pixLegend
  mapPix
  mapDcol
  mapLines
  grestore
}def

/mapChipNull
{
  gsave
  translate
  0 setgray
  newpath
  -4 -24 moveto
  pmapX 8 add 0 rlineto
  0 pmapY 28 add rlineto
  pmapX 8 add neg 0 rlineto
  closepath
  1.2 setlinewidth stroke

  400 fontSize
  newpath
  20 15 moveto
  (?)false charpath
  0.6 setlinewidth stroke
  grestore
}def

% --- pixel histogram

/bardx 4.6 def
/bary 25 def
/histY bary 3.6 mul 10 add def

/bar
{
 newpath
 bardx mul 0 moveto
 log bary mul 10 add
 dup 0 exch rlineto
 bardx 0 rlineto
 0 exch neg rlineto
 closepath
 gsave colorBar fill grestore
 colorLine 0.8 setlinewidth stroke
}def

/scaleX
{
 colorLine 10 fontSize
 3 sub 5 exch 5 exch
 {
  dup newpath bardx mul bardx 2 div add 0 moveto 0 histY rlineto stroke
  dup 3 string cvs exch
  bardx mul bardx 2 div add -12 moveto dup stringwidth pop -2 div 0 rmoveto
  show
 }for
}def

/histo
{
 dup length bardx mul % diagram width
 colorLine
 newpath
 0 0 moveto
 dup 0 rlineto
 0 histY rlineto
 dup neg 0 rlineto
 closepath
 gsave colorBgd fill grestore
 0.8 setlinewidth stroke
 0 10 moveto dup 0 rlineto
 0 bary 10 add moveto dup 0 rlineto
 0 bary 2 mul 10 add moveto dup 0 rlineto
 0 bary 3 mul 10 add moveto 0 rlineto 
 0.2 setlinewidth stroke
 dup length scaleX
 /x 0 def
 { dup 1 ge{ x bar }if /x x 1 add def }forall

}def

/histoScale
{
 histo
 10 fontSize
 -7 7 moveto (1) show
 -13 bary 7 add moveto (10) show
 -19 bary 2 mul 7 add moveto (100) show
 -24 bary 3 mul 7 add moveto (1000) show
}def

/histoPage
{
 gsave translate
 11 fontSize
 colorText
 gsave
 0 145 translate
 210 115 moveto (trim0) show
 level histoScale
 0 102 translate 4.55 8 scale
 colorScaleBar
 grestore
 gsave
 0 0 translate
 20 105 moveto (trim8-trim0) show
 level8 histoScale
 grestore
 gsave
 116 0 translate
 20 105 moveto (trim4-trim0) show
 level4 histo
 grestore
 gsave
 232 0 translate
 20 105 moveto (trim2-trim0) show
 level2 histo
 grestore
 gsave
 348 0 translate
 20 105 moveto (trim1-trim0) show
 level1 histo
 grestore
 grestore
}def


/txyl{3 1 roll -7 mul moveto show}bind def
/txyr{dup stringwidth pop neg 4 -1 roll add
 3 -1 roll -7 mul moveto show}bind def

/textData
{
  gsave
  translate
  11 fontSize
  0  0 (test #) txyl
  0  2 (begin:)txyl
  0  4 (end:)txyl

 58  7 (Idig [mA])txyl
115  7 (Iana [mA])txyl
  0  9 (power on)txyl
  0 11 (init)txyl
  0 14 (token:)txyl
 90 14 (i2c:)txyl
  0 17 (Vana(DAC))txyl  70 17 (Iana)txyl
 30 19 (64)txyr
 30 21 (96)txyr
 30 23 (128)txyr
 30 25 (160)txyr
 30 27 (192)txyr
  0 32 (ublack)txyl
 90 32 (black)txyl
  0 34 (d0)txyl
 90 34 (d1)txyl
  0 36 (d2)txyl
 90 36 (d3)txyl
  0 38 (d4)txyl
 90 38 (d5)txyl

  0 41 (bin:)txyl
 /Helvetica-Bold findfont 11 scalefont setfont
 30 29 vana0 txyr
  55  0 num txyl
  55  2 tbg txyl
  55  4 tnd txyl
  95  9 id1 txyr
 155  9 ia1 txyr
  95 11 id2 txyr
 155 11 ia2 txyr
  35 14 tok txyl
 110 14 i2c txyl
 105 19 ia 0 get txyr
 105 21 ia 1 get txyr
 105 23 ia 2 get txyr
 105 25 ia 3 get txyr
 105 27 ia 4 get txyr
 105 29 iana0 txyr

 65 32 ublack txyr
155 32 black txyr
 65 34 d0 txyr
155 34 d1 txyr
 65 36 d2 txyr
155 36 d3 txyr
 65 38 d4 txyr
155 38 d5 txyr

  55 41 bin txyl
  grestore
}def

/logPage
{
  90 390 mapChip
  85 80 histoPage
  24 fontSize 80 765 moveto pid show
  385 725 textData
  11 fontSize 300 45 moveto cpg show
}def

/logPage2
{
  90 390 mapChipNull
  24 fontSize 80 765 moveto pid show
  385 725 textData
  11 fontSize 300 45 moveto cpg show
}def
