%!PS-Adobe-3.0
%%BoundingBox: 0 0 590 840
%%Pages: (atend)
%%DocumentPaperSizes: a4
%%EndComments

%%BeginProlog
/LOCAL 10 dict def
/fontSize { /Helvetica findfont exch scalefont setfont }def
/colorText  { 0 setgray }def
/colorLine  { 0 setgray }def
/colorBgd   { 0.95 setgray }def
/colorBar   { 1.0 0.8 0.0 setrgbcolor}def
